<!-- TOP NAV -->
<div class="top-nav" id="home">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <p> <i class='bx bxs-envelope'></i> eliana.dmm@gmail.com</p>
                <p> <i class='bx bxs-phone-call'></i> (3755) 15303391 </p>
            </div>
            <div class="col-auto social-icons">
                <a href="https://www.facebook.com/sportcluboficial"><i class='bx bxl-facebook'></i></a>
                <a href="https://twitter.com/?lang=es"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                <a href="https://ar.pinterest.com/"><i class='bx bxl-pinterest'></i></a>
            </div>
        </div>
    </div>
</div>
<!-- BOTTOM NAV -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            </br> T H E B O X
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">ACTIVIDADES</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        SEDES Y HORARIOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#belgrano">BELGRANO</a></li>
                        <li><a class="dropdown-item" href="#caballito">CABALLITO</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#nuñez">NUÑEZ</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">STAFF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#novedades">NOVEDADES</a>
                </li>

            </ul>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Contacto</a>
        </div>
    </div>
</nav>
<!-- HERO -->
<div class="owl-carousel owl-theme hero-slider">
    <div class="slide slide1">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h6 class="text-white text-uppercase">Tu mejor versión te espera!</h6>
                    <h1 class="display-3 my-4">Que nada detenga<br />tu entrenamiento.</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slide slide2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 text-white">
                    <h6 class="text-white text-uppercase">Que nada detenga tu entrenamiento!</h6>
                    <h1 class="display-3 my-4">Tu mejor versión <br />te espera!</h1>
                    <a href="#belgrano" class="btn btn-brand">Sedes</a>
                    <a href="#services" class="btn btn-outline-light ms-3">Nuestras actividades</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="info-box">
                            <img src="images/fit1.jpg" alt="">
                            <div class="ms-4">
                                <h5>Construí tu fuerza</h5>
                                <p>Ganá masa muscular con nuestros entrenamientos de musculación </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="images/fit2.jpg" alt="">
                            <div class="ms-4">
                                <h5>Ganá ritmo cardíaco</h5>
                                <p>Llega más lejos con nuestro entrenamientos de cardio </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="images/fit3.png" alt="">
                            <div class="ms-4">
                                <h5>Modela tu mente</h5>
                                <p>Con la ayuda de nuestros profes podrás lograr lo que quieras </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="images/musclea.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- MILESTONE -->
<section id="milestone">
    <div class="container">
        <div class="row text-center justify-content-center gy-4">
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">90K+</h1>
                <p class="mb-0">Personas entrenando con nosotros</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">15</h1>
                <p class="mb-0">Programas de entrenamiento distinto</p>
            </div>
        </div>
    </div>
</section>
<!--ACTIVIDADES-->
<section id="services" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>ACTIVIDADES</h6>
                    <h1>Algunas de nuestras clases. . .</h1>
                    <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eveniet
                        possimus ad natus soluta in dolorem, vero sed! Ipsa iusto corrupti, quisquam at dicta
                        delectus maxime obcaecati quas nulla quasi.</p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="images/spinning.jpg" alt="">
                    <h5>Spinning</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque eligendi quasi
                        aliquam nemo facilis ipsa labore tempora, deserunt nam deleniti, corrupti veritatis? Cumque
                        tempore tenetur mollitia? Molestias, quibusdam recusandae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="images/entrenamientof.jpg" alt="">
                    <h5>Entrenamiento Funcional</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque eligendi quasi
                        aliquam nemo facilis ipsa labore tempora, deserunt nam deleniti, corrupti veritatis? Cumque
                        tempore tenetur mollitia? Molestias, quibusdam recusandae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="images/yoga.jpg" alt="">
                    <h5>Yoga</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque eligendi quasi
                        aliquam nemo facilis ipsa labore tempora, deserunt nam deleniti, corrupti veritatis? Cumque
                        tempore tenetur mollitia? Molestias, quibusdam recusandae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="images/zumba.jpg" alt="">
                    <h5>Zumba</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque eligendi quasi
                        aliquam nemo facilis ipsa labore tempora, deserunt nam deleniti, corrupti veritatis? Cumque
                        tempore tenetur mollitia? Molestias, quibusdam recusandae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="images/pilates.jpg" alt="">
                    <h5>Pilates</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque eligendi quasi
                        aliquam nemo facilis ipsa labore tempora, deserunt nam deleniti, corrupti veritatis? Cumque
                        tempore tenetur mollitia? Molestias, quibusdam recusandae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="images/gymtotal.jpg" alt="">
                    <h5>GYM TOTAL</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque eligendi quasi
                        aliquam nemo facilis ipsa labore tempora, deserunt nam deleniti, corrupti veritatis? Cumque
                        tempore tenetur mollitia? Molestias, quibusdam recusandae.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BEGRANO -->
<div id="belgrano" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>SEDE BELGRANO</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13142.910524889128!2d-58.462223972476046!3d-34.56045096644716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d35bd50031%3A0xef90575f68d7f4ab!2sMegatlon%20Belgrano!5e0!3m2!1ses!2sar!4v1650660385254!5m2!1ses!2sar"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h3>INSCRIBITE</h3>
        <p> VUELTA DE OBLIGADO 2250 </br>
            <i class='bx bxs-phone-call'></i> TEL-33444455777</br>
        </p>
        <p> <i class='bx bxs-envelope'></i> eliana.dmm@gmail.com</p>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Inscribite
            ahora!</a>
    </div>
</div>
<!--CABALLITO-->
<div id="caballito" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>SEDE CABALLITO</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13133.698212410509!2d-58.455442472442236!3d-34.61871007859173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3f294989bb%3A0xb0be622914b9cdc!2sMegatlon%20Caballito%20I!5e0!3m2!1ses!2sar!4v1650660509045!5m2!1ses!2sar"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h3>INSCRIBITE</h3>
        <p> VUELTA DE OBLIGADO 2250 </br>
            <i class='bx bxs-phone-call'></i> TEL-33444455777</br>
        </p>
        <p> <i class='bx bxs-envelope'></i> eliana.dmm@gmail.com</p>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Inscribite
            ahora!</a>
    </div>

</div>
<!--NUÑEZ-->
<div id="nuñez" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>SEDE NUÑEZ</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22106.776284664793!2d-58.483016647072475!3d-34.54869490012425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42000ac4405%3A0x5761976cdbd169c7!2zTWVnYXRsb24gTsO6w7Fleg!5e0!3m2!1ses!2sar!4v1650660597447!5m2!1ses!2sar"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h3>INSCRIBITE</h3>
        <p> VUELTA DE OBLIGADO 2250 </br>
            <i class='bx bxs-phone-call'></i> TEL-33444455777</br>
        </p>
        <p> <i class='bx bxs-envelope'></i> eliana.dmm@gmail.com</p>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Inscribite
            ahora!</a>
    </div>
</div>

<!--TEAM-->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>STAFF</h6>
                    <h1>Parte de nuestro equipo</h1>
                    <p class="mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat nisi odit
                        facilis nihil voluptatibus distinctio in deserunt sit dolorum quo dolor ea reiciendis
                        dignissimos nesciunt praesentium, minima nobis velit enim.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image">
                        <img src="images/staff1.jpg" alt="">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/sportcluboficial"><i class='bx bxl-facebook'></i></a>
                            <a href="https://twitter.com/?lang=es"><i class='bx bxl-twitter'></i></a>
                            <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                    <h5>Julieta Diaz</h5>
                    <p>Instructora de Entrenamiento Funcional</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image">
                        <img src="images/staff2.jpg" alt="" height="70%">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/sportcluboficial"><i class='bx bxl-facebook'></i></a>
                            <a href="https://twitter.com/?lang=es"><i class='bx bxl-twitter'></i></a>
                            <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <h5>Ricardo Lopez</h5>
                    <p>Instructor de Pilates y Musculación</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image">
                        <img src="images/staff3.jpg" alt="" height="70%">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/sportcluboficial"><i class='bx bxl-facebook'></i></a>
                            <a href="https://twitter.com/?lang=es"><i class='bx bxl-twitter'></i></a>
                            <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <h5>Milagros Aguada</h5>
                    <p>Instructora de Zumba y Pilates</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- NOVEDADES -->
<div class="container">
    <div id="novedades" class="row justify-content-center">
        <div class="col-10">
            <h2>Novedades</h2>
            <div class="row">
                <ul class="lista-novedades">
                    {{#each novedades}}
                    <li><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal{{ id }}">
                            <img src="{{imagen}}">{{titulo}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
</div>

<!--MODALNOVEDADES-->
{{#each novedades}}
<div class="modal" id="modal{{id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{subtitulo}}</h6>
                <img src="{{imagen}}" width="120" alt="{{subtitulo}}">
                <p>{{cuerpo}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row gy-4">
                        <div class="col-lg-5 col-sm-12 bg-cover" style="background-image: url(images/gymtotal.jpg);">
                        </div>
                        <div class="col-lg-7">
                            <form action="/" method="post" class="p-lg-5 col-12 row g-3" id="contact_form">
                                <div>
                                    <h1>Estamos en contacto!</h1>
                                    <p>Envianos tu consulta y te responderemos en el menor tiempo posible.</p>
                                </div>
                                <div class="col-lg-6">
                                    <label for="userName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Juana" id="userName"
                                        aria-describedby="emailHelp" name="nombre">
                                </div>
                                <div class="col-lg-6">
                                    <label for="userName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Lopez" id="userName"
                                        aria-describedby="emailHelp" name="apellido">
                                </div>
                                <div class="col-12">
                                    <label for="userName" class="form-label">Email</label>
                                    <input type="email" class="form-control" placeholder="juana@gmail.com" id="userName"
                                        aria-describedby="emailHelp" name="email">
                                </div>
                                <div class="col-12">
                                    <label for="exampleInputEmail1" class="form-label">Mensaje</label>
                                    <textarea name="mensaje" placeholder="Ingresa tu mensaje." class="form-control"
                                        id="" rows="4"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-brand">ENVIANOS TU CONSULTA</button>
                                </div>
                                <span id="feedback"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{#if message}}
            {{message}}
            {{/if}}
        </div>
    </div>
</div>
<footer>
    <div class="footer-top text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h4 class="navbar-brand">The Box<span class="dot">.</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nobis dolor ad saepe
                        delectus.
                        Officia dolore eaque ea voluptatem nam commodi laborum autem facilis, harum numquam
                        alias quam
                        magnam ab.</p>
                    <div class="col-auto social-icons">
                        <a href="https://www.facebook.com/sportcluboficial"><i class='bx bxl-facebook'></i></a>
                        <a href="https://twitter.com/?lang=es"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                        <a href="https://ar.pinterest.com/"><i class='bx bxl-pinterest'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <p class="mb-0">Designed by Cynndm</p>
    </div>
</footer>